*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100vh;
    min-height: 100vh;
}
html {
  font-size: 1em;
}
body {
    display: flex;
    flex-direction: column;
    background-color: beige;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;   
}
header,
footer {
    background-color: gray;
    min-height: 100px;
}
main {
    flex-grow: 1;
}

.container {
    max-width: 1800px;
    margin: 0 auto;
    position: relative;
    background-color: aqua;
}
@media (max-width:1800px) {
    .container {
        max-width: 1600px;
    }
}
@media (max-width:1600px) {
    .container {
        max-width: 1200px;
    }
}
@media (max-width:1200px) {
    .container {
        max-width: 992px;
    }
}
/*---------catalog--------------*/

.catalog {
    display: flex;
    flex-direction: row;
    gap:20px;
}
.catalog__filter {
    width: 180px;
    background-color: gray;
}
.catalog__sort{
    min-height: 40px;
    background-color: gray; 
}
.catalog__content {
    flex-grow: 1;
}
.catalog__grid{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap:20px;
}

/*--------карточка товара-----------*/
.catalog__card {  
  width: 100%;
}
.catalog__img {
  width: 100%;
  border-radius: 20px;
}
.catalog__price {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}
.price-now {
  color: #10c44c;
  font-weight: bold;
  font-size: 1.5rem;
  margin-right: 10px;
}
.price-early {
  color: #99a3ae;
  text-decoration: line-through;
  font-weight: bold;
  margin-right: 10px;
}
.price-sale {
  color: #f91155;
  font-weight: bold;
}

.catalog__rest {
  color: #f91155;
  font-size: 0.8rem;
}
.catalog__brand {
  font-size: 0.8rem;
}
.catalog__brand i {
  color:#10c44c;
}

.catalog__feedback {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  font-size: 0.8rem;
}
.catalog__raiting i {
  color: rgb(255, 168, 0);
}
.catalog__review {
  color:#99a3ae;
}
.catalog__btn {
  background-color: #005bff;
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 10px;
  color:#fff;
  font-weight: bold;
  transition: background 0.3s ease-in;
}
.catalog__btn:hover,
.catalog__btn:focus,
.catalog__btn:active {
  background-color: #3a7fff;
}

.img__wrapper {
  position: relative;
}
.fav-btn {
  color:#99a3ae;
  position: absolute;
  top:15px;
  right: 15px;
  transition: color 0.2s ease-in-out;
}
.fav-btn:hover,
.fav-btn:focus, 
.fav-btn:active {
  color:#f91155;
}
.catalog__promotions {
  position: absolute;
  bottom: 15px;
  left: 15px;
}
.sales {
  background-color: #f91155;
  padding: 2px 5px;
  border-radius: 3px;
  color: #fff;
}